@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');

:root {
    --main-bg: rgb(149,211,200);
    --body-accent: rgb(81,39,69);
    --body-purple: rgb(136,127,171);
    --text-result-bg: rgb(253,221,139);
    --result-border: rgb(229,147,28);
    --btn-bg: rgb(248,168,168);
    --btn-border: rgb(185,31,89);
    --btn-hover-bg: rgb(255,201,201);
    --btn-hover-border: rgb(214,22,105);
}

/* font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', sans-serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-bg);
}

.main {
    max-width: 47%;
    background-color: var(--body-purple);
    position: absolute;
    top: 0;
	bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	height: 50vh;
    border-radius: 10px;
}
    
.header {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    background-color: var(--body-accent);
    padding: 25px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.header h1 {
    font-size: 1.2rem;
    color: var(--text-result-bg);
    letter-spacing: 3px;
}

.main-content {
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
}

.result-weapon-cont {
    background-color: var(--body-accent);
    margin: 30px 70px;
    border-radius: 5px;
    color: var(--text-result-bg);
    padding: 10px;
    /* width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

.result-text {
    text-align: center;
}

.result-text #result-winner {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.result-text #result-description {
    font-size: 0.9rem;
    font-weight: 400;
}

.display-weapon-score {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.display-weapon-score .weapon {
    background-color: var(--text-result-bg);
    max-width: 170px;
}

.footer {
    font-family: 'Play', sans-serif;
    background-color: var(--body-accent);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--text-result-bg);
    padding: 10px;
}