@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');

:root {
    --main-bg: rgb(149,211,200);
    --body-accent: rgb(81,39,69);
    --body-purple: rgb(136,127,171);
    --text-result-bg: rgb(253,221,139);
    --result-border: rgb(229,147,28);
    --btn-bg: rgb(248,168,168);
    --btn-border: rgb(185,31,89);
    --btn-hover-bg: rgb(255,201,201);
    --btn-hover-border: rgb(214,22,105);
}

/* font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', sans-serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
}

.container {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.header {
    background-color: var(--body-accent);
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    color: var(--text-result-bg);
    padding: 18px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-content {
    background-color: var(--body-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Play', sans-serif;
}

.scoreboard {
    background-color: var(--body-accent);
    width: 80%;
    margin: 20px 0;
    border-radius: 5px; 
    color: var(--text-result-bg);
    text-align: center;
}

.scoreboard-heading {
    padding: 10px 0;
}
.scoreboard-heading #winner-result {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.scoreboard-heading #round-descrip {
    font-size: 0.9rem;
    font-weight: 400;
}

.display-result {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}

.display-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-result {
    padding: 10px 25px;
    border: 5px solid var(--result-border);
    background-color: var(--text-result-bg);
    border-radius: 7px;
}

.rps-choices {
    display: flex;

}
.rps-box {
    border: 3px solid var(--btn-border);
}

.footer {
    background-color: var(--body-accent);
}



